<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="continue.css">
    
</head>

<body class="body">
    <!-- <div class="continue">
        
            <div class="form-title">
                <input type="text" placeholder="enter title here">
            </div>
            <div class="form-content">
                <div class="contentboxes">
                    <input type="text" placeholder="write description about the title here">
                </div>
                <div class="contentboxes">
                    <input type="url" placeholder="enter video link here">
                </div>
                <div class="contentboxes">
                    <input type="url" placeholder="enter drive/notes link here">
                </div>
                
            </div>
         -->
    <!-- </div> -->
    <nav>
        <div class="logo-container">
          <a href="#"> PlanMyPath</a>
        </div>
        <div class="links-container">
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="create.html">CREATE ROADMAPS</a></li>
            <!-- <li><a href="create.html">CREATE ROADMAPS</a></li> -->
            <!-- <li><a href="#">Contact</a></li> -->
          </ul>
        </div>
        <div class="button-container">
          <a href="login.html" class="button">Sign In</a>
        </div>
      </nav>

    <form >
    <ul>
        <li><div class="grid-container">
              <div class="header">
                <label for="title"><input type="text" placeholder="enter title" class="inputHeading" id="title" name="title" />
                </label>
                
              </div>
              <div class="box">
                <label for="video"><input type="url" placeholder="enter video link" class="inputVideo" id="title" name="title" />
                </label>
              </div>
              <div class="box">
                <label for="description"><input type="text" placeholder="enter description" class="inputDesc" id="desc" name="desc">
                </label>
              </div>
              <div class="box">
                <label for="photo"><input type="file" placeholder="enter title" class="inputFile" id="photo" name="photo" >
                </label>
              </div>
              <button class="saveButton">Save</button>
          </div></li>
          
          
    </ul>
    </form>
</body>
</html>