<div id="forms">
  <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="roadmap_id" value="{{ roadmap_id }}">
    <ul id="form-list">
      <li>
        <div class="grid-container">
          <div class="header">
            <label for="header"><input type="text" placeholder="enter title" class="inputHeading" name="title" id="title" /></label>
          </div>
          <div class="flexMain">
            <div class="flex">
              <div class="box">
                <label for="video"><input type="\url" placeholder="enter video link" class="inputVideo" name="video" id="video" /></label>
              </div>
              <div class="box">
                <label for="description"><input type="text" placeholder="enter description" class="inputDesc" name="desc" id="desc" /></label>
              </div>
              <div class="box">
                <label for="file"><input type="file" placeholder="enter title" class="inputFile" name="photo" id="photo" /></label>
              </div>
              <button class="saveButton" type="button" onclick="insert()" name="save" id="save">Save</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button type="submit" class="submitButton" name="submit" id="submit" >Submit</button>
  </form>
</div>

<script>
  function insert() {
    // Get the form list element and clone the first list item
    const formList = document.getElementById('form-list');
    const firstForm = formList.querySelector('li');
    const newForm = firstForm.cloneNode(true);
    // Clear the input fields in the cloned form
    const inputs = newForm.querySelectorAll('input');
    inputs.forEach((input) => {
      input.value = '';
    });
    // Append the cloned form to the form list
    formList.appendChild(newForm);
  }
</script>
