<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="styles.css">
<body>

    <nav>
        <div class="logo-container">
          <a href="#"> PlanMyPath</a>
        </div>
        <div class="links-container">
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="explore.html"></a> ROADMAPS</a></li>
            <!-- <li><a href="create.html">CREATE ROADMAPS</a></li> -->
            <!-- <li><a href="#">Contact</a></li> -->
          </ul>
        </div>
        <div class="button-container">
          <a href="#" class="button">Sign In</a>
        </div>
      </nav>


    <div class="wrapper">
        <h2 class="wrapperHeading">
          Login
        </h2>
        <div class="login-form">
          <form action="">
            <div class="login-form-email"id="form2">
              <!-- <span class="form-icon"></span> -->
              <label for="email">email</label>
              <input type="email">
              
            </div>
            <div class="login-form-email" id="form1">
              <!-- <span class="form-icon"></span> -->
              
              <label for="password">password</label>
              <input type="password">
            </div>
            <!-- <div class="login-form-email" >
              
              <input type="checkbox">
              <label for="checkbox" >rememebr me</label>
              <span class="forgot"><a href="" >forgot password?</a></span>
              
            </div> -->
            <div class="login-form-email">
              <button class="form-btn">LOGIN</button>
              
            </div>
            
           
              
            </div>
            <div class="close">
                <a href="index.html"><span class="close1">X</span></a>
            </div>
            
          </form>
      
</body>
</html>