<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
    <div class="wrapper-2">
        <h2 class="wrapperHeading" style="color: aqua;">sign up</h2>
        <form action="">
    
          <div class="login-form-email"id="form2">
            <!-- <span class="form-icon"></span> -->
            <label for="username">username</label>
            <input type="text" name="name" id="name" required>
            
          </div>
          <div class="login-form-email"id="form2">
            <!-- <span class="form-icon"></span> -->
            <label for="email">email</label>
            <input type="email" name="email" id="email" required>
            
          </div>
          <div class="login-form-email" id="form1">
            <!-- <span class="form-icon"></span> -->
            
            <label for="password">password</label>
            <input type="password" name="password" id="password" required>
          </div>

          <div class="login-form-email" id="form1" >
            <!-- <span class="form-icon"></span> -->
            
            <label for="profile_pic">Select an image:</label>
            <input type="file" id="profile_pic" name="profile_pic"> <!--changes to file from image-input in id and name -->
            
          </div>

          <div class="login-form-email" id="form1">
            <!-- <span class="form-icon"></span> -->
            
            <label for="twitter">Twitter profile link</label>
            <input type="text" name="twitter" id="twitter" placeholder="www.twitter.com" style="color: antiquewhite;">
          </div>

          <div class="login-form-email" id="form1">
            <!-- <span class="form-icon"></span> -->
            
            <label for="instagram">instagram profile link</label>
            <input type="text" name="instagram" id="instagram" placeholder="www.instagram.com" style="color: antiquewhite;">
          </div>
         

          <div class="login-form-email" id="form1">
            <!-- <span class="form-icon"></span> -->
            
            <label for="linkedin">linkedin profile link</label>
            <input type="text"name="linkedin" id="linkedin" placeholder="www.linkedin.com" style="color: antiquewhite;">
          </div>
         
          <div class="login-form-email" >

            
            <button class="form-btn" type="submit" value="Sign Up">Create Accout</button>
            
          </div>
          <div class="close">
           <a href="index.html"> <span class="close1">X</span> </a>
          </div>
          
        </form>
    
      </div>
    
</body>
</html>